.header__options{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    cursor: pointer !important;
    position: relative;
    transition: all 0.3s ease
    
}

.header__options:first-child{ 
    color: #333;
}
.header__options:hover{
    color: tomato;
}
   

