.posts{
    border: 2px solid #E0DFDC;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.post__header{
    border-bottom: 1px solid #E0DFDC;
    padding: 10px 0px;
    margin:10px;
    margin-top: 0px;
}
.post__headerRight{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.3s ease;

}
.post__headerRight span{ 
    margin-left: 6px;

}
.post__headerRight:hover{
    background: rgb(194, 188, 188);
    cursor: pointer;
}
.userLogo{
    line-height:13px;
    align-items: center;
}
.userLogo h5{
    font-size: 16px;
}
.userLogo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profile__titleArea{
    margin-left: 10px;

}
.follow__Wrapper{
    margin-right: 10px;
    cursor: pointer;
    color: #0A66C2;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.follow__Wrapper:hover{ 
    background-color: #bbd4f1;
}

.post__img img{
    width: 100%;
    height: 40vh;
}
.post__footer{
    margin-top: 10px;
    border-top: 1px solid #E0DFDC;
    display: flex;
}
.post__footer{
    padding:5px 0px;
} 
.post__footer__icon{
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.post__footer__icon:hover{ 
    background-color: #F3F2EF;
    cursor:pointer;

}