.logInForm{
    padding: 20px;
    border-radius: 10px; 
    width: 500px;
    box-shadow: 0px 0px 30px grey;
    margin-bottom: 10px;
}
input,.googleSingInBtn{
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    
}
input:last-child,.googleSingInBtn{
    background: tomato;
    color: white;
    font-size: 22px;
    transition: all 0.3s ease;
}
.googleSingInBtn{
    margin-top: -20px;

}
.googleSingInBtn:hover,input:last-child:hover{
   color:black;
   font-weight: bold;
    background-color: rgb(246, 51, 17);
}