.app__wrapper{
    width: 100%;
    align-items: center;
    justify-content:center;
    padding: 10px 0px;
   background: white;
   
}
.wrapper,.feed__container{ 
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;


}
.wrapper {
    position: sticky !important;
}
.feed__container{ 
    width: 20%
}
.feed__container__center{
    width: 40%
}
body{
    background-color:#f3f2ef;
}
.app__body{ 
    width: 100%;
    margin-top: 50px;
    display:flex;
    justify-content:center;
}